$size: min(60vh, 60vw);
$size-phone: min(85vh, 85vw);

$primaryBC: #222222;
$secondaryBC: #ffd500;
$cellSize: calc($size / 9 );

@mixin on-circle($item-count, $circle-size, $item-size) {
  > * {
    position: absolute;
    left: 50%;
    width: $item-size;
    height: $item-size;

  }
}

.bubbleRing {
  @include on-circle(
    $item-count: 10,
    $circle-size: calc($size / 4),
    $item-size: calc($size / 15)
  );

  transform: translate(-31%, calc(($size / 35) - 5px) );
}

.bubble {
  font-size: calc($size / 22);
}
.gameboard {
  height: $size;
  width: $size;
}

.region {
  height: calc($size / 3);
  width: calc($size / 3);
}
.cell{
  font-size: calc($cellSize / 1.5);
  height: $cellSize;
  width: $cellSize;
}


.cellNote {

  font-size: calc($size / 33);
  height: calc(($cellSize / 3));
  width: calc(($cellSize / 3));

}
.puzzleOptions {
  height: calc($size / 18);
  width: calc($size / 18);
}
.puzzleOptionText {
  font-size: calc($size / 33);
}
.puzzleOptionContainer {
  width: calc($size );
}
.switch {
  height: calc($size / 18);
  width: calc($size / 9);
}
@media (max-width: 600px) {

    .bubbleRing{
        @include on-circle(
            $item-count: 10,
            $circle-size: calc($size-phone / 4),
            $item-size: calc($size-phone / 15)
        );
        transform: translate(-31%, calc(($size-phone / 35) - 5px) );
    }
    .bubble {
        font-size: calc($size-phone / 22);
    }
    .gameboard {
        height: $size-phone;
        width: $size-phone;
    }
    .region {
        height: calc($size-phone / 3);
        width: calc($size-phone / 3);
    }
    .cell{
        font-size: calc($cellSize / 1.5);
        height: calc($size-phone / 9);
        width: calc($size-phone / 9);
    }
    .cellNote {
        font-size: calc($size-phone / 33);
        height: calc((calc($size-phone / 9) / 3));
        width: calc((calc($size-phone / 9) / 3));
    }
    .puzzleOptions {
        height: calc($size-phone / 18);
        width: calc($size-phone / 18);
    }
    .puzzleOptionText {
        font-size: calc($size-phone / 33);
    }
    .puzzleOptionContainer {
        width: calc($size-phone );
    }
    .switch {
        height: calc($size-phone / 18);
        width: calc($size-phone / 9);
    }

}